@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Crushing IS 413";
    ViewBag.MyName = "Tyler Smith";
}
<body>
    <img src="img/145.jpg" />
    <h2>What I want to get out of IS 413</h2>
    <p>
        Something that I have had a hard time with in this journey of learning programming and an
        abundance of new development tools is the skill of keeping all my ducks in a row.
        There are so many robust features and it can be hard to stay organized. I hope through heavy usage
        I will develop (get it? develop) this skill and be able to make better projects because of it. I
        also want to learn the ins and outs of Visual Studio and ASP.NET because I see it constantly on job descriptions.
        I'm looking forward to this class more than the others this semester so I have very high expectations!
    </p>
    <h2>My Top 3 Jobs</h2>
    <ol>
        <li>Software Developer</li>
        <li>Web Developer</li>
        <li>IT Consultant</li>
    </ol>
    <!--form for grade calculator-->
</body>
